{% extends 'base.html.twig' %}

{% block title %}Détails de la tâche{% endblock %}

{% block body %}
<h1>Détails de la tâche</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <td>{{ task.id }}</td>
    </tr>
    <tr>
        <th>Nom</th>
        <td>{{ task.name }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ task.description }}</td>
    </tr>
    <tr>
        <th>Auteur</th>
        <td>{{ task.author ? task.author.email : 'Non attribué' }}</td>
    </tr>
    <tr>
        <th>Créé le</th>
        <td>{{ task.createdAt ? task.createdAt|date('d/m/Y H:i') : 'N/A' }}</td>
    </tr>
    <tr>
        <th>Mis à jour le</th>
        <td>{{ task.updateAt ? task.updateAt|date('d/m/Y H:i') : 'N/A' }}</td>
    </tr>
</table>
<a href="{{ path('task_edit', {'id': task.id}) }}" class="btn btn-warning">Modifier</a>
<a href="{{ path('task_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
